<div>
    <h2>
        <span jhiTranslate="moneyJhipsterApp.debitCredit.home.title">Debit Credits</span>
        <button class="btn btn-primary float-right create-debit-credit" [routerLink]="['/', { outlets: { popup: ['debit-credit-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="moneyJhipsterApp.debitCredit.home.createLabel">
            Create new Debit Credit
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="debitCredits">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th><span jhiTranslate="moneyJhipsterApp.debitCredit.libelle">Libelle</span></th>
            <th><span jhiTranslate="moneyJhipsterApp.debitCredit.dateEnregistrement">Date Enregistrement</span></th>
            <th><span jhiTranslate="moneyJhipsterApp.debitCredit.isPointe">Is Pointe</span></th>
            <th><span jhiTranslate="moneyJhipsterApp.debitCredit.datePointage">Date Pointage</span></th>
            <th><span jhiTranslate="moneyJhipsterApp.debitCredit.montantTotal">Montant Total</span></th>
            <th><span jhiTranslate="moneyJhipsterApp.debitCredit.libelleBanque">Libelle Banque</span></th>
            <th><span jhiTranslate="moneyJhipsterApp.debitCredit.compteRattache">Compte Rattache</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let debitCredit of debitCredits ;trackBy: trackId">
                <td><a [routerLink]="['../debit-credit', debitCredit.id ]">{{debitCredit.id}}</a></td>
                <td>{{debitCredit.libelle}}</td>
                <td>{{debitCredit.dateEnregistrement | date:'medium'}}</td>
                <td>{{debitCredit.isPointe}}</td>
                <td>{{debitCredit.datePointage | date:'medium'}}</td>
                <td>{{debitCredit.montantTotal}}</td>
                <td>{{debitCredit.libelleBanque}}</td>
                <td>
                    <div *ngIf="debitCredit.compteRattache">
                        <a [routerLink]="['../compte-bancaire', debitCredit.compteRattache?.id ]" >{{debitCredit.compteRattache?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../debit-credit', debitCredit.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'debit-credit/'+ debitCredit.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'debit-credit/'+ debitCredit.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="debitCredits && debitCredits.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
