<div class="container-fluid">
    <div class="row justify-content-between">
        <div class="col">
            <button type="button" class="btn btn-primary" (click)="onClickPreviousMonth()">{{getPreviousMonthDate | date:"yyyy - MM"}}</button>
        </div>
        <div class="col">
            <h3>{{pageDate | date:"yyyy - MM"}}</h3>
        </div>
        <div class="col">
            <button type="button" class="btn btn-primary" (click)="onClickNextMonth()">{{getNextMonthDate | date:"yyyy - MM"}}</button>
        </div>
    </div>

    <div class="row">
        <div class="table table-responsive">
            <table class="table table-striped table-hover table-condensed">
                <thead>
                    <tr>
                        <th class="col-xs-1">Date</th>
                        <th class="col-xs-3">Libelle</th>
                        <th class="col-xs-3 hidden-sm hidden-xs">Categorie</th>
                        <th class="col-xs-2 hidden-md hidden-sm hidden-xs">Compte</th>
                        <th class="col-xs-1 tdDebit">Debit</th>
                        <th class="col-xs-1 tdCredit">Credit</th>
                        <th class="col-xs-1 hidden-sm hidden-xs tdSolde">Solde</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let debitCredit of debitCredits">
                        <td class="col-xs-1">{{debitCredit.dateTransaction | date:"MM/dd"}}</td>
                        <td class="col-xs-3">{{debitCredit.libellePerso}}</td>
                        <td class="col-xs-3 hidden-sm hidden-xs">{{getCategorieName(debitCredit)}}</td>
                        <td class="col-xs-2 hidden-md hidden-sm hidden-xs">{{debitCredit.compteId}}</td>
                        <div *ngIf="debitCredit.montantTotal > 0">
                            <td class="col-xs-1">{{debitCredit.montantTotal}}</td>
                            <td class="col-xs-1"></td>
                        </div>
                        <div *ngIf="debitCredit.montantTotal <= 0">
                            <td class="col-xs-1"></td>
                            <td class="col-xs-1">{{debitCredit.montantTotal}}</td>
                        </div>
                        <td>TODO</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
