<div class="container-fluid">

    <div class="row justify-content-between">
        <div class="col">
            <button type="button" class="btn btn-primary" (click)="onClickPreviousMonth()">{{getPreviousMonthDate | date:"yyyy - MM"}}</button>
        </div>
        <div class="col text-center">
            <h3 >{{pageDate.toString() | date:"yyyy - MM"}}</h3>
        </div>
        <div class="col">
            <button type="button" class="btn btn-primary float-right" (click)="onClickNextMonth()">{{getNextMonthDate | date:"yyyy - MM"}}</button>
        </div>
    </div>

    <table class="table table-striped table-hover table-sm">
        <thead>
            <tr>
                <th class="col-xs-1">Date</th>
                <th class="col-xs-3">Libelle</th>
                <th class="col-xs-3 hidden-sm hidden-xs">Categorie</th>
                <th class="col-xs-2 hidden-md hidden-sm hidden-xs">Compte</th>
                <th class="col-xs-1 tdDebit">Debit</th>
                <th class="col-xs-1 tdCredit">Credit</th>
                <th class="col-xs-1 hidden-sm hidden-xs tdSolde">Solde</th>
            </tr>
        </thead>
        <tbody>
            <tr #trline class="col-12" [ngClass]="{ 'table-success': debitCredit.montantTotal > 0, 'table-danger' : debitCredit.datePointage == null}" *ngFor="let debitCredit of debitCredits" jhi-compte-bancaire-td [debitCredit]="debitCredit" (onUpdate)="updateDebitCredit($event)" (click)="trline.open()">
            </tr>
        </tbody>
    </table>
</div>
