<div>
    <h2>
        <span jhiTranslate="moneyJhipsterApp.detailMontant.home.title">Detail Montants</span>
        <button class="btn btn-primary float-right create-detail-montant" [routerLink]="['/', { outlets: { popup: ['detail-montant-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="moneyJhipsterApp.detailMontant.home.createLabel">
            Create new Detail Montant
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="detailMontants">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th><span jhiTranslate="moneyJhipsterApp.detailMontant.montant">Montant</span></th>
            <th><span jhiTranslate="moneyJhipsterApp.detailMontant.virementInterneCompteId">Virement Interne Compte Id</span></th>
            <th><span jhiTranslate="moneyJhipsterApp.detailMontant.categorie">Categorie</span></th>
            <th><span jhiTranslate="moneyJhipsterApp.detailMontant.debitCreditAssocie">Debit Credit Associe</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let detailMontant of detailMontants ;trackBy: trackId">
                <td><a [routerLink]="['../detail-montant', detailMontant.id ]">{{detailMontant.id}}</a></td>
                <td>{{detailMontant.montant}}</td>
                <td>{{detailMontant.virementInterneCompteId}}</td>
                <td>
                    <div *ngIf="detailMontant.categorie">
                        <a [routerLink]="['../categorie', detailMontant.categorie?.id ]" >{{detailMontant.categorie?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="detailMontant.debitCreditAssocie">
                        <a [routerLink]="['../debit-credit', detailMontant.debitCreditAssocie?.id ]" >{{detailMontant.debitCreditAssocie?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../detail-montant', detailMontant.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'detail-montant/'+ detailMontant.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'detail-montant/'+ detailMontant.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="detailMontants && detailMontants.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
